<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")  
        @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/googlemaps.js" type="text/javascript"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="~/Content/FixtureFinder.css" /> @*~ means home*@

</head>
<body>
    <div class= "navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="brand"><a class="logoheading" href="http://localhost:50009/FixtureFinder/Home" target="_blank"><img class="headermargin bluecolor pull-left" src="~/Images/Logo no text.png" height="40px" width="40px"/><span class="headingshadow">FixtureFinder</span> </a></div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        
     </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
